
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

p {
    color: blue;
}

p{
    color: brown;
}
body {
    font-family: "EB Garamond";
    text-align: center;
    background-color: silver;
    
}

h1, h3{
    color: darkcyan;
}

